
 /*------------- Whole Document---------------- */

body {
    font-family: 'Source Code Pro';
    font-size: 19px;
}

/*----------------- links ---------------------*/

a { 
  color: #264653;
}

 a:hover {
    color: #2A9D8F; /* darker color when hovering */
  }

/*----------------- font-color and center headings ---------------------*/  
h1, h2, h3, h4 {
 color: #3f3f3f;
 text-align: center;
}

p { 
 color: #3f3f3f;
}

